<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="IdentityDBEntities" connectionString="metadata=res://*/DataModels.IDDataModel.csdl|res://*/DataModels.IDDataModel.ssdl|res://*/DataModels.IDDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.20.18;initial catalog=IdentityDB;persist security info=True;user id=identityuser;password=!dent!tyU$er;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IdentityDBEntities1" connectionString="metadata=res://*/dummyds.Model1.csdl|res://*/dummyds.Model1.ssdl|res://*/dummyds.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.20.18;initial catalog=IdentityDB;persist security info=True;user id=xx;password=uii;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProfileService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IPGService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://portal.unaab.edu.ng/Webservices/ProfileService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfileService"
          contract="PortalServ.IProfileService" name="BasicHttpBinding_IProfileService" />
      <endpoint address="http://pg.unaab.edu.ng/webservice/PGService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPGService"
                contract="PGService.IPGService" name="BasicHttpBinding_IPGService" />
    </client>
  </system.serviceModel>
</configuration>